<?xml version="1.0"?>
<launch>
  <arg name="image_proc" default="false" />
  <arg name="debug" default="false" />

  <!-- Robot description -->
  <include file="$(find up1_description)/launch/description.launch" />

  <!-- Start up the hardware drivers and controllers -->
  <include file="$(find up1_hardware)/launch/hardware.launch" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node>

  <!-- Launch moveit for arm -->
  <include file="$(find up1_mono_moveit_config)/launch/move_group.launch">
    <arg name="debug" value="$(arg debug)" />
  </include>

  <!-- Start up image processing if enabled -->
  <include if="$(arg image_proc)" file="$(find up1_hardware)/launch/image_processing.launch" />

  <!-- Web video server -->
  <!--include file="$(find up1_hardware)/launch/web_video_server.launch" -->
</launch>
