<launch>
  <group ns="stereo">
    <node name="left" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video1" />
        <param name="image_width" value="320" />
        <param name="image_height" value="240" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="left" />
        <param name="io_method" value="mmap" />
        <param name="camera_name" value="stereo_left" />
    </node>
    <node name="right" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="320" />
        <param name="image_height" value="240" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="right" />
        <param name="io_method" value="mmap" />
        <param name="camera_name" value="stereo_right" />
    </node>
  </group>

  <!-- Uncomment to view raw camera feeds (useful for checking left/right video device assignment) -->
  <node name="image_view_left" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/stereo/left/image_raw" />
    <param name="autosize" value="true" />
  </node>
  <node name="image_view_right" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/stereo/right/image_raw" />
    <param name="autosize" value="true" />
  </node>

  <!-- checkerboard size must be the INNER square cols/rows -->
  <!-- <node name="cameracalibrator" pkg="camera_calibration" type="cameracalibrator.py" >
    <param name="size" value="8x6" />
    <param name="square" value="0.025" />
    <remap from="right" to="/stereo/right/image_raw" />
    <remap from="left" to="/stereo/left/image_raw" />
    <remap from="left_camera" to="/stereo/left" />
    <remap from="right_camera" to="/stereo/right" />
    <param name="approximate" value="0.05" />
  </node> -->
</launch>
