# Udev rules to make sure the identical USB cameras are reliably enumerated based on which ports they are plugged into.
# Arduino can show up on ttyUSB0/1, ttyACM0/1, etc. A symlink to /dev/arduino is more robust.

# More info:
#    https://askubuntu.com/questions/49910/how-to-distinguish-between-identical-usb-to-serial-adapters
#    http://www.linux-usb.org/FAQ.html#i6
#    http://reactivated.net/writing_udev_rules.html

KERNEL=="video*", ATTR{name}=="VGA USB Camera", KERNELS=="1-1.3", SYMLINK="cam_left"
KERNEL=="video*", ATTR{name}=="VGA USB Camera", KERNELS=="1-1.4", SYMLINK="cam_right"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A7006SJz", SYMLINK+="arduino"
